aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
asttokens==3.0.1
attrs==25.4.0
certifi==2026.1.4
decorator==5.2.1
edge-tts==7.2.7
executing==2.2.1
frozenlist==1.8.0
idna==3.11
ipdb==0.13.13
ipython==9.9.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
multidict==6.7.0
parso==0.8.5
pexpect==4.9.0
prompt_toolkit==3.0.52
propcache==0.4.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycountry==24.6.1
Pygments==2.19.2
srt==3.5.3
stack-data==0.6.3
tabulate==0.9.0
traitlets==5.14.3
typing_extensions==4.15.0
wcwidth==0.2.14
yarl==1.22.0
